<div class="list shadow">
  <div>
    <ul class="list-container align-middle">
      <li><button type="button" class="btn btn-outline-dark shadow align-middle">Cantidad de Usuarios: {{ usersLength }}</button></li>
      <li><button type="button" class="btn btn-outline-dark shadow">Cantidad de Mujeres: {{ usersFemaleLength }}</button></li>
      <li><button type="button" class="btn btn-outline-dark shadow">Cantidad de Hombres: {{ usersMaleLength }}</button></li>
      <li><button type="button" class="btn btn-outline-dark shadow">Menores de 20 años: </button></li>
      <li><button type="button" class="btn btn-outline-dark shadow">Mayores de 20 años:</button></li>
      <li><button type="button" class="btn btn-outline-dark shadow">Mayores de 60 años:</button></li>
    </ul>
  </div>
</div>