.list{
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.list-container{
  height: 100%;
  display: flex;
  margin-left: 25%;
  margin-right: 5%;
  justify-content: space-between;
  align-items: center;

  li{
    list-style: none;
  }
}

.btn{
  margin-top: 20px;
}