<ul class="nav">
  <li class="nav-item">
    <button type="button" class="btn btn-outline-primary btn-lg btn-block">Ordenar por:</button>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-outline-primary btn-lg btn-block">Ordenar por:</button>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-outline-primary btn-lg btn-block">Ordenar por:</button>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-outline-primary btn-lg btn-block">Ordenar por:</button>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-outline-primary btn-lg btn-block">Ordenar por:</button>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-outline-primary btn-lg btn-block">Ordenar por:</button>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-outline-primary btn-lg btn-block">Ordenar por:</button>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-outline-primary btn-lg btn-block">Ordenar por:</button>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-outline-primary btn-lg btn-block">Ordenar por:</button>
  </li>
</ul>
