.section {
  height: 80vh;
  width: 100%;
  background-image: url('../../../assets/img/banner.jpg');
  background-attachment: fixed;
}

.section2 {
  height: 80vh;
  width: 100%;
  background-image: url('../../../assets/img/users.jpg');
  background-attachment: fixed;
}