<div class="container">
  <div class="card shadow" style="width: 18rem;">
    <img src="{{ user.picture.large }}" class="card-img-top" alt="...">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Nombre: {{ user.name.first}}</li>
      <li class="list-group-item">Apellido: {{ user.name.last}}</li>
      <li class="list-group-item">Edad: {{ user.dob.age}}</li>
      <li class="list-group-item">Pais de Origen: {{ user.location.country }}</li>
      <li class="list-group-item">Ciudad: {{ user.location.city }}</li>
      <li class="list-group-item">Dirección: {{ user.location.street.name }} N°{{ user.location.street.number }}</li>
      <li class="list-group-item">Codigo Postal: {{ user.location.postcode }}</li>
      <li class="list-group-item">Telefono: {{ user.phone }}</li>
      <li class="list-group-item">Mail: {{ user.email }}</li>
    </ul>
  </div>
</div>