<div class="container" *ngIf="currentInfo">

  <button class="btn" (click)="limpiarUserHijo()">Volver</button>

  <div>
    <input type="text" placeholder="Search" (keyup.enter)="searching()" [formControl]="searchControl"> <button class="btn" (click)="searching()">Buscar</button>
  </div>

  <div *ngIf="userDesdeHijo else listaUsers">
      <app-user-info [user]="userDesdeHijo"></app-user-info>
  </div>

  <ng-template #listaUsers>
    <ul class="user-container row">
      <app-item-list *ngFor="let user of userList" [userData]="user" class="users shadow-sm col-md-auto" (sendUser)="onSendUser($event)"></app-item-list>
    </ul>
  </ng-template>

</div>
