.dashboard {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 8fr 1fr;
}

.nav {
  grid-column: 1;
  grid-row: 1/3;
}

.main {
  grid-row: 1;
  grid-column: 2;
  background-color: #95ca3e;
}

.list {
  grid-column: 1/3;
  grid-row: 2;
}